*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Plus Jakarta Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0221;
    color: #2de2e6;
    font-size: 20px;
 }
 .nav-fixed{
   z-index: 1000;
    width: 100%;
    position: fixed;  
    top: 3%;
    margin-top: -2.5em;
}
.menu{
   margin: 0;
   position: relative;
   width: 100%;
   height: 80px;
   background-color: #261447;
   color: #f6019d;
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
   
}
li a{
   text-decoration: none;
   color: #f6019d;
   list-style: none;
   
}
li a:hover{
   color: #2de2e6;
}
li {
   list-style-type: none;
   padding-top: 35px;
 }

.bg-body-tertiary{
   --bs-bg-opacity: none !important;
}
.container-fluid{
   /* background-color: #261447; */
   height: 100px;
}
#navbarNav{
   height: 100%;
   justify-content: center;
   align-items: center;
}
.navbar-nav{
   width: 50%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.navbar-collapse ul li a{
   color: #f6019d;
}
.navbar-collapse ul li a:hover{
   color: #2de2e6;
}

 .historia{
    height: 2400px;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    padding-top: 30px;
    background-color: #0d0221;
 }
 .logo-historia{
    width: 100%;
    height: 25%;
    background-image: url(imagens/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    
 }
 .conteudo-historia{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    text-align: center;
    padding-top: 40px;
     /* background-color: #73cc80;    */
 }
 
 .conteudo-historia h1{
    font-weight: 400;
    color: #2de2e6;
 }
 .conteudo-historia h3{
    padding-top: 60px;
    text-align: left;
    color: #f6019d;
 }
 .conteudo-historia h4{
    color: #f6019d;
    padding-top: 30px;
 }
 .conteudo-historia .p-top{
    padding-top: 30px;
 }
 .conteudo-historia p{
    text-align: center;
    color: #2de2e6;
    padding: 10px;
 }

  .conteudo-historia2{
    margin-top: 100px;
    height: 450px;
    width: 100%;
     /* background-color: #73cc80;    */
    display: flex; 

} 
.imagem-criador{
   width: 25%;
   height: 400px;
   /* background-color: #f7f7f7; */
   border: #f6019d 2px solid;
}
.imagem-criador p{
   color: #f6019d;
   text-align: center;
   padding-top: 15px;
}
.conteudo-criador{
   height: 300px;
   width: 70%;
   text-align: left;
  
}
.conteudo-criador p{
   padding-top: 20px;
   padding-left: 30px;
}
.conteudo-criador .p-criador{
   color: #f6019d;
   text-align: center;
}


 ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #18292f;
}
::-webkit-scrollbar-thumb{
    background-color: #f6019d;
    border-radius: 2px;

}
.center{
 display: flex;
 align-items: center;
 justify-content: center;
}

 .equipe{
   /* background-color: #2de2e6; */
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
   margin-bottom: 70px;
 }
 .container-fluid{
   height: 1220px;
   flex-direction: row;
 }
 .container-fluid .row{
   /* border: solid 2px #f6019d; */
   height: 600px;
   margin: 10px;

 }
 .container-fluid .row .col-4{
   /* border: #2de2e6 solid 5px; */
   height: 500px;
   /* background-color: #0d0221; */
 }
 .container-fluid .row .col-4 img{
   height: 100%;
   width: 100%;
   border-radius: 50%;
   border: solid 5px #f6019d;
 }

 /* .conteudo-membros{
   background-color: #f6019c27; 
   width: 100%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-y: hidden;
 }
 
.conteudo-membros .carousel{
   width: 30%;
   height: 100%;
   transition: 1s;
   border: solid 2px #f6019d;
   
}
.conteudo-membros .carousel:hover{
   border: solid 2px #2de2e6;
   transition: 1s;
}

.carousel-inner{
   background-color: aqua; 
}
.carousel-inner img{
background-color: aqua; 
   height: 500px;
   width: 500px;
}
.carousel-item{
   background-color: black;
}
.carousel-inner h5{
   color: #edf2f4;
}
.carousel-inner p{
   color: #edf2f4;
}
.carousel-caption{
   background-color: rgba(0, 0, 0, 0.507);
   border-radius: 15px;
   transition: 1s;
}
.carousel-caption:hover{
   background-color: rgba(0, 0, 0, 0.767);
}

.carousel-control-prev{
   background-color:  #edf2f434;
}
.carousel-control-next{
   background-color:  #edf2f431;
} */

