*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mende Kikakui', sans-serif;

}

body{
    background-color: #0d0221;
    font-family: 'Courier New', Courier, monospace;
    color: #2de2e6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo{
    height: 900px;
    width: 80%;
    background-color: #0d0221;
}
.topo{
    height: 50%;
    width: 100%;
    /* background-color: #2de2e6; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo img{
    height: 100%;
}
.baixo{
    height: 50%;
    width: 100%;
}

.baixo h1{
    text-align: center;
    padding-top: 60px;
}

.baixo h2{
    text-align: center;
    padding-top: 60px;
}
a{
    text-decoration: none;
    color: #f6019d;
}
a:hover{
    color: #2de2e6;
}

